$base-color: #225643;
$button-color: #C1770C;
$background-color: rgba(218, 218, 218, 0.5);
$soft-shadow: rgba(34, 86, 67, 0.75);
$softer-shadow: rgba(34, 86, 67, 0.20);
$backdrop-color: rgba(0, 0, 0, 0.7)