@import './common/theme_colors';
@import './common/common_mixin';

.product-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    @include display-flex-c-c-column;

    .backdrop {
        background-color: $backdrop-color;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .modal {
        border-radius: 5px;
        background-color: $base-color;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        width: 1000px;
        height: 600px;
        z-index: 1;

        .close-modal {
            @include position-background-image;
            background-image: url('../icons/highlight_off_white.svg');
            width: 30px;
            height: 30px;
            position: absolute;
            right: 10px;
            top: 10px;

            &:hover {
                cursor: pointer;
            }
        }

        &>div {
            &:first-of-type {
                display: flex;
                justify-content: space-between;
                flex-direction: column;

                &>div {

                    // This div contains the image
                    &:first-of-type {
                        height: 400px;

                        img {
                            height: 100%;
                        }
                    }

                    // This div contains the product details
                    &:last-of-type {
                        div {
                            margin-bottom: 12px;

                            span {
                                &:first-of-type {
                                    color: $button-color;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }

            &:nth-child(2) {
                display: flex;
                justify-content: space-between;
                flex-direction: column;

                &>div {
                    &:first-of-type {
                        width: 400px;
                        padding: 10px;
                    }

                    &:last-of-type {
                        div {
                            height: 200px;

                            img {
                                height: 200px;
                            }

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}